.carouselContainer {
  margin: 40px 0;
}

.swiper {
  --swiper-navigation-color: var(--text);
  --swiper-pagination-color: var(--text);
  --swiper-pagination-bullet-inactive-color: var(--muted);
  --swiper-pagination-bullet-inactive-opacity: 0.5;

  padding-bottom: 40px; /* Space for pagination */
}

.swiperSlide {
  height: auto; /* Allow card to define its height */
  display: flex;
  justify-content: center;
}
